
syslog
syslog.CRASH
bin/*
src/util/*.o
src/*.o
lib/plrfiles/A-E/*.plr
lib/plrfiles/F-J/*.plr
lib/plrfiles/K-O/*.plr
lib/plrfiles/P-T/*.plr
lib/plrfiles/U-Z/*.plr
lib/plrfiles/ZZZ/*.plr
lib/plrobjs/A-E/*.objs
lib/plrobjs/F-J/*.objs
lib/plrobjs/K-O/*.objs
lib/plrobjs/P-T/*.objs
lib/plrobjs/U-Z/*.objs
lib/plrobjs/ZZZ/*.objs
lib/etc/time
lib/etc/last
lib/core
lib/backtrace.*
